.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'GeistVF';
  src: url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Space Grotesk', 'GeistVF', sans-serif;
}